<html>
  <head>
    <title>Machine 192.168.205.12</title>
  </head>
  <body>
    <p>Cette machine s’appelle 192.168.205.12</p>
    <p>Ci-dessous la liste de ces adresses :</p>
    <ul>
      <li>192.168.205.12</li>
      <li>10.0.2.15</li>
    </ul>
  </body>
</html>
